flow.json
[
    {
        "id": "01b9b3c76ac3fd00",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c2ac8926d8a0d889",
        "type": "subflow",
        "name": "HTTP Request",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 120,
                "wires": [
                    {
                        "id": "bae1eb5ef0b92783"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1020,
                "y": 120,
                "wires": [
                    {
                        "id": "d7cbfe99b10f3f7f",
                        "port": 0
                    },
                    {
                        "id": "69d721798801ea88",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "d7cbfe99b10f3f7f",
        "type": "junction",
        "z": "c2ac8926d8a0d889",
        "x": 920,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "69d721798801ea88",
        "type": "junction",
        "z": "c2ac8926d8a0d889",
        "x": 920,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "2236dfd1.c909e",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "test",
        "tz": "",
        "charset": ""
    },
    {
        "id": "4f12a9d931da1b40",
        "type": "csv",
        "z": "c2ac8926d8a0d889",
        "name": "",
        "sep": ";",
        "hdrin": true,
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 630,
        "y": 180,
        "wires": [
            [
                "d7cbfe99b10f3f7f"
            ]
        ]
    },
    {
        "id": "bae1eb5ef0b92783",
        "type": "http request",
        "z": "c2ac8926d8a0d889",
        "name": "StatiskBankAPI",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.statbank.dk/v1/data",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 260,
        "y": 120,
        "wires": [
            [
                "72fd0bf3f9c722d0"
            ]
        ]
    },
    {
        "id": "72fd0bf3f9c722d0",
        "type": "switch",
        "z": "c2ac8926d8a0d889",
        "name": "Json?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "istype",
                "v": "json",
                "vt": "json"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 120,
        "wires": [
            [
                "a0f1d7ebf4807157"
            ],
            [
                "4f12a9d931da1b40"
            ]
        ]
    },
    {
        "id": "a0f1d7ebf4807157",
        "type": "json",
        "z": "c2ac8926d8a0d889",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 630,
        "y": 60,
        "wires": [
            [
                "69d721798801ea88"
            ]
        ]
    },
    {
        "id": "242b9e964e848119",
        "type": "function",
        "z": "01b9b3c76ac3fd00",
        "name": "GetDate",
        "func": "var d = new Date();\nvar year = d.getFullYear();\nvar month = d.getMonth() + 1;\nvar day = d.getDate();\nif (month == 1 && day == 8) {\n    msg.kv = year + \"K1\";\n    return msg;\n} else if (month == 4 && day == 8) {\n    msg.kv = year + \"K2\";\n    return msg;\n} else if (month == 8 && day == 26) /*Husk at ændre denne tilbage til month 7 og day 8 */{\n    msg.kv = year + \"K3\";\n    return msg;\n} else if (month == 10 && day == 8) {\n    msg.kv = year + \"K4\";\n    return msg;\n} else {\n    msg.notToday = \"Not today\";\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 260,
        "wires": [
            [
                "f4eb87e5d025d7c4"
            ]
        ]
    },
    {
        "id": "f4eb87e5d025d7c4",
        "type": "switch",
        "z": "01b9b3c76ac3fd00",
        "name": "RightDate?",
        "property": "notToday",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Not today",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": true,
        "outputs": 2,
        "x": 550,
        "y": 260,
        "wires": [
            [],
            [
                "372f5974f93c3fb7"
            ]
        ],
        "outputLabels": [
            "Not Today",
            "Kvartal"
        ]
    },
    {
        "id": "372f5974f93c3fb7",
        "type": "function",
        "z": "01b9b3c76ac3fd00",
        "name": "RequestBody",
        "func": "var kvartal = msg.kv;\nvar regBody = {\n    \"table\": \"folk1a\",\n    \"format\": \"CSV\",\n    \"variables\": [\n        {\n            \"code\": \"OMRÅDE\",\n            \"values\": [\n                \"730\"\n            ]\n        },\n        {\n            \"code\": \"KØN\",\n            \"values\": [\n                \"1\",\n                \"2\"\n            ]\n        },\n        {\n            \"code\": \"ALDER\",\n            \"values\": [\n                \"20\",\n                \"21\",\n                \"22\",\n                \"23\",\n                \"24\",\n                \"25\",\n                \"26\",\n                \"27\",\n                \"28\",\n                \"29\",\n                \"30\",\n                \"31\",\n                \"32\",\n                \"33\",\n                \"34\",\n                \"35\",\n                \"36\",\n                \"37\",\n                \"38\",\n                \"39\",\n                \"40\",\n                \"41\",\n                \"42\",\n                \"43\",\n                \"44\",\n                \"45\",\n                \"46\",\n                \"47\",\n                \"48\",\n                \"49\",\n                \"50\",\n                \"51\",\n                \"52\",\n                \"53\",\n                \"54\",\n                \"55\",\n                \"56\",\n                \"57\",\n                \"58\",\n                \"59\",\n                \"60\",\n                \"61\",\n                \"62\",\n                \"63\",\n                \"64\",\n                \"65\",\n                \"66\",\n                \"67\",\n                \"68\",\n                \"69\",\n                \"70\",\n                \"71\",\n                \"72\",\n                \"73\",\n                \"74\",\n                \"75\",\n                \"76\",\n                \"77\",\n                \"78\",\n                \"79\",\n                \"80\",\n                \"81\",\n                \"82\",\n                \"83\",\n                \"84\",\n                \"85\",\n                \"86\",\n                \"87\",\n                \"88\",\n                \"89\",\n                \"90\"\n            ]\n        },\n        {\n            \"code\": \"CIVILSTAND\",\n            \"values\": [\n                \"U\",\n                \"G\",\n                \"E\",\n                \"F\"\n            ]\n        },\n        {\n            \"code\": \"Tid\",\n            \"values\": [\n                `${kvartal}`\n            ]\n        }\n    ]\n};\nreturn {payload : regBody};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 260,
        "wires": [
            [
                "16f9a7b64b529564"
            ]
        ]
    },
    {
        "id": "b21c63fa55eeed73",
        "type": "debug",
        "z": "01b9b3c76ac3fd00",
        "name": "HTTPLog",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 180,
        "wires": []
    },
    {
        "id": "0563d9a44551f13c",
        "type": "function",
        "z": "01b9b3c76ac3fd00",
        "name": "INSERT",
        "func": "var data = msg.payload;\nvar area = \"\";\nvar gender = \"\";\nvar age = \"\";\nvar civilstand = \"\";\nvar time = \"\";\nvar numberOfPeople = 0;\nvar topic = \"\";\nfor (let i = 0; i < data.length; i++) {\n    area = data[i][\"OMRÅDE\"];\n    gender = data[i][\"KØN\"];\n    age = data[i][\"ALDER\"].split(\" \")[0];\n    civilstand = data[i][\"CIVILSTAND\"];\n    time = data[i][\"TID\"];\n    numberOfPeople = data[i][\"INDHOLD\"];\n    topic += \"INSERT INTO `test`.`kage` (`område`, `køn`, `alder`, `civilstand`, `tid`, `indhold`) VALUES ('\";\n    topic += area + \"', '\" + gender + \"', '\" + age + \"', '\" + civilstand + \"', '\" + time + \"', '\" + numberOfPeople + \"');\";\n}\nmsg.topic = topic\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 460,
        "wires": [
            [
                "7580f4542a5000fc"
            ]
        ]
    },
    {
        "id": "7580f4542a5000fc",
        "type": "mysql",
        "z": "01b9b3c76ac3fd00",
        "mydb": "2236dfd1.c909e",
        "name": "Insert data",
        "x": 470,
        "y": 460,
        "wires": [
            [
                "7772c83d9a6bb0bb"
            ]
        ]
    },
    {
        "id": "7772c83d9a6bb0bb",
        "type": "debug",
        "z": "01b9b3c76ac3fd00",
        "name": "log",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 460,
        "wires": []
    },
    {
        "id": "5d571b1931eb3ad4",
        "type": "catch",
        "z": "01b9b3c76ac3fd00",
        "name": "Database",
        "scope": [
            "4879b66c491e5a9d",
            "7580f4542a5000fc"
        ],
        "uncaught": false,
        "x": 100,
        "y": 700,
        "wires": [
            [
                "09b826736e02fa93"
            ]
        ]
    },
    {
        "id": "09b826736e02fa93",
        "type": "debug",
        "z": "01b9b3c76ac3fd00",
        "name": "DatabaseERR",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 700,
        "wires": []
    },
    {
        "id": "16f9a7b64b529564",
        "type": "subflow:c2ac8926d8a0d889",
        "z": "01b9b3c76ac3fd00",
        "name": "",
        "x": 1000,
        "y": 260,
        "wires": [
            [
                "69e0c366668e7631"
            ]
        ]
    },
    {
        "id": "69e0c366668e7631",
        "type": "switch",
        "z": "01b9b3c76ac3fd00",
        "name": "HTTP Err",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1180,
        "y": 260,
        "wires": [
            [
                "0563d9a44551f13c"
            ],
            [
                "d29477cb6b0a1905",
                "b21c63fa55eeed73"
            ]
        ]
    },
    {
        "id": "63e07d350b8af2cb",
        "type": "link in",
        "z": "01b9b3c76ac3fd00",
        "name": "Retry",
        "links": [
            "d29477cb6b0a1905"
        ],
        "x": 215,
        "y": 320,
        "wires": [
            [
                "242b9e964e848119"
            ]
        ]
    },
    {
        "id": "d29477cb6b0a1905",
        "type": "link out",
        "z": "01b9b3c76ac3fd00",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "63e07d350b8af2cb"
        ],
        "x": 1285,
        "y": 300,
        "wires": []
    },
    {
        "id": "6c5cf798431959f6",
        "type": "inject",
        "z": "01b9b3c76ac3fd00",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "00 07 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 140,
        "wires": [
            [
                "3bc47683cc4d087e"
            ]
        ]
    },
    {
        "id": "3bc47683cc4d087e",
        "type": "function",
        "z": "01b9b3c76ac3fd00",
        "name": "Truncate table",
        "func": "var topic = \"TRUNCATE TABLE kage;\";\nmsg.topic = topic\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 140,
        "wires": [
            [
                "4879b66c491e5a9d"
            ]
        ]
    },
    {
        "id": "4879b66c491e5a9d",
        "type": "mysql",
        "z": "01b9b3c76ac3fd00",
        "mydb": "2236dfd1.c909e",
        "name": "delete table data",
        "x": 530,
        "y": 140,
        "wires": [
            [
                "242b9e964e848119"
            ]
        ]
    },
    {
        "id": "a92e3077d5262582",
        "type": "comment",
        "z": "01b9b3c76ac3fd00",
        "name": "delete data to reuse table",
        "info": "",
        "x": 550,
        "y": 100,
        "wires": []
    }
]