flow.json
[
    {
        "id": "01b9b3c76ac3fd00",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "14a6853c88df1d6d",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c2ac8926d8a0d889",
        "type": "subflow",
        "name": "HTTP Request",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 120,
                "wires": [
                    {
                        "id": "bae1eb5ef0b92783"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1020,
                "y": 120,
                "wires": [
                    {
                        "id": "08952d9c2328ac56",
                        "port": 0
                    },
                    {
                        "id": "a0f1d7ebf4807157",
                        "port": 0
                    },
                    {
                        "id": "d7cbfe99b10f3f7f",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "d26f0eb409c8c52c",
        "type": "junction",
        "z": "c2ac8926d8a0d889",
        "x": 580,
        "y": 60,
        "wires": [
            [
                "08952d9c2328ac56"
            ]
        ]
    },
    {
        "id": "08952d9c2328ac56",
        "type": "junction",
        "z": "c2ac8926d8a0d889",
        "x": 920,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "d7cbfe99b10f3f7f",
        "type": "junction",
        "z": "c2ac8926d8a0d889",
        "x": 920,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "2236dfd1.c909e",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "test",
        "tz": "",
        "charset": ""
    },
    {
        "id": "4f12a9d931da1b40",
        "type": "csv",
        "z": "c2ac8926d8a0d889",
        "name": "",
        "sep": ";",
        "hdrin": true,
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 630,
        "y": 180,
        "wires": [
            [
                "d7cbfe99b10f3f7f"
            ]
        ]
    },
    {
        "id": "bae1eb5ef0b92783",
        "type": "http request",
        "z": "c2ac8926d8a0d889",
        "name": "StatiskBankAPI",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.statbank.dk/v1/data",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 260,
        "y": 120,
        "wires": [
            [
                "72fd0bf3f9c722d0"
            ]
        ]
    },
    {
        "id": "72fd0bf3f9c722d0",
        "type": "switch",
        "z": "c2ac8926d8a0d889",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "istype",
                "v": "object",
                "vt": "object"
            },
            {
                "t": "istype",
                "v": "json",
                "vt": "json"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 430,
        "y": 120,
        "wires": [
            [
                "d26f0eb409c8c52c"
            ],
            [
                "a0f1d7ebf4807157"
            ],
            [
                "4f12a9d931da1b40"
            ]
        ]
    },
    {
        "id": "a0f1d7ebf4807157",
        "type": "json",
        "z": "c2ac8926d8a0d889",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 630,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "6c5cf798431959f6",
        "type": "inject",
        "z": "01b9b3c76ac3fd00",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "00 07 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 140,
        "wires": [
            [
                "3bc47683cc4d087e"
            ]
        ]
    },
    {
        "id": "242b9e964e848119",
        "type": "function",
        "z": "01b9b3c76ac3fd00",
        "name": "GetDate",
        "func": "var d = new Date();\nvar year = d.getFullYear();\nvar month = d.getMonth() + 1;\nvar day = d.getDate();\nif (month == 1 && day == 8) {\n    msg.kv = year + \"K1\";\n    return msg;\n} else if (month == 4 && day == 8) {\n    msg.kv = year + \"K2\";\n    return msg;\n} else if (month == 8 && day == 26) /*Husk at ændre denne tilbage til month 7 og day 8 */{\n    msg.kv = year + \"K3\";\n    return msg;\n} else if (month == 10 && day == 8) {\n    msg.kv = year + \"K4\";\n    return msg;\n} else {\n    msg.notToday = \"Not today\";\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 260,
        "wires": [
            [
                "f4eb87e5d025d7c4"
            ]
        ]
    },
    {
        "id": "f4eb87e5d025d7c4",
        "type": "switch",
        "z": "01b9b3c76ac3fd00",
        "name": "",
        "property": "notToday",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Not today",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": true,
        "outputs": 2,
        "x": 530,
        "y": 260,
        "wires": [
            [
                "25cefcab79d3a769"
            ],
            [
                "475e39af2ab8d53a",
                "372f5974f93c3fb7"
            ]
        ],
        "outputLabels": [
            "Not Today",
            "Kvartal"
        ]
    },
    {
        "id": "25cefcab79d3a769",
        "type": "debug",
        "z": "01b9b3c76ac3fd00",
        "name": "Not Today",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "notToday",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 180,
        "wires": []
    },
    {
        "id": "475e39af2ab8d53a",
        "type": "debug",
        "z": "01b9b3c76ac3fd00",
        "name": "Today",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "kv",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 320,
        "wires": []
    },
    {
        "id": "372f5974f93c3fb7",
        "type": "function",
        "z": "01b9b3c76ac3fd00",
        "name": "RequestBody",
        "func": "var kvartal = msg.kv;\nvar regBody = {\n    \"table\": \"folk1a\",\n    \"format\": \"CSV\",\n    \"variables\": [\n        {\n            \"code\": \"OMRÅDE\",\n            \"values\": [\n                \"730\"\n            ]\n        },\n        {\n            \"code\": \"KØN\",\n            \"values\": [\n                \"1\",\n                \"2\"\n            ]\n        },\n        {\n            \"code\": \"ALDER\",\n            \"values\": [\n                \"20\",\n                \"21\",\n                \"22\",\n                \"23\",\n                \"24\",\n                \"25\",\n                \"26\",\n                \"27\",\n                \"28\",\n                \"29\",\n                \"30\",\n                \"31\",\n                \"32\",\n                \"33\",\n                \"34\",\n                \"35\",\n                \"36\",\n                \"37\",\n                \"38\",\n                \"39\",\n                \"40\",\n                \"41\",\n                \"42\",\n                \"43\",\n                \"44\",\n                \"45\",\n                \"46\",\n                \"47\",\n                \"48\",\n                \"49\",\n                \"50\",\n                \"51\",\n                \"52\",\n                \"53\",\n                \"54\",\n                \"55\",\n                \"56\",\n                \"57\",\n                \"58\",\n                \"59\",\n                \"60\",\n                \"61\",\n                \"62\",\n                \"63\",\n                \"64\",\n                \"65\",\n                \"66\",\n                \"67\",\n                \"68\",\n                \"69\",\n                \"70\",\n                \"71\",\n                \"72\",\n                \"73\",\n                \"74\",\n                \"75\",\n                \"76\",\n                \"77\",\n                \"78\",\n                \"79\",\n                \"80\",\n                \"81\",\n                \"82\",\n                \"83\",\n                \"84\",\n                \"85\",\n                \"86\",\n                \"87\",\n                \"88\",\n                \"89\",\n                \"90\"\n            ]\n        },\n        {\n            \"code\": \"CIVILSTAND\",\n            \"values\": [\n                \"U\",\n                \"G\",\n                \"E\",\n                \"F\"\n            ]\n        },\n        {\n            \"code\": \"Tid\",\n            \"values\": [\n                `${kvartal}`\n            ]\n        }\n    ]\n};\nreturn {payload : regBody};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 260,
        "wires": [
            [
                "16f9a7b64b529564"
            ]
        ]
    },
    {
        "id": "b21c63fa55eeed73",
        "type": "debug",
        "z": "01b9b3c76ac3fd00",
        "name": "kvartalData",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 180,
        "wires": []
    },
    {
        "id": "0563d9a44551f13c",
        "type": "function",
        "z": "01b9b3c76ac3fd00",
        "name": "INSERT",
        "func": "var data = msg.payload;\nvar area = \"\";\nvar gender = \"\";\nvar age = \"\";\nvar civilstand = \"\";\nvar time = \"\";\nvar numberOfPeople = 0;\nvar topic = \"\";\nfor (let i = 0; i < data.length; i++) {\n    area = data[i][\"OMRÅDE\"];\n    gender = data[i][\"KØN\"];\n    age = data[i][\"ALDER\"].split(\" \")[0];\n    civilstand = data[i][\"CIVILSTAND\"];\n    time = data[i][\"TID\"];\n    numberOfPeople = data[i][\"INDHOLD\"];\n    topic += \"INSERT INTO `test`.`kage` (`område`, `køn`, `alder`, `civilstand`, `tid`, `indhold`) VALUES ('\";\n    topic += area + \"', '\" + gender + \"', '\" + age + \"', '\" + civilstand + \"', '\" + time + \"', '\" + numberOfPeople + \"');\";\n}\nmsg.topic = topic\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 460,
        "wires": [
            [
                "1480a35f916b5735",
                "7580f4542a5000fc"
            ]
        ]
    },
    {
        "id": "1480a35f916b5735",
        "type": "debug",
        "z": "01b9b3c76ac3fd00",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 580,
        "wires": []
    },
    {
        "id": "7580f4542a5000fc",
        "type": "mysql",
        "z": "01b9b3c76ac3fd00",
        "mydb": "2236dfd1.c909e",
        "name": "Insert data",
        "x": 470,
        "y": 460,
        "wires": [
            [
                "7772c83d9a6bb0bb"
            ]
        ]
    },
    {
        "id": "7772c83d9a6bb0bb",
        "type": "debug",
        "z": "01b9b3c76ac3fd00",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 400,
        "wires": []
    },
    {
        "id": "3bc47683cc4d087e",
        "type": "function",
        "z": "01b9b3c76ac3fd00",
        "name": "Truncate table",
        "func": "var topic = \"TRUNCATE TABLE kage;\";\nmsg.topic = topic\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 140,
        "wires": [
            [
                "4879b66c491e5a9d"
            ]
        ]
    },
    {
        "id": "4879b66c491e5a9d",
        "type": "mysql",
        "z": "01b9b3c76ac3fd00",
        "mydb": "2236dfd1.c909e",
        "name": "delete table data",
        "x": 530,
        "y": 140,
        "wires": [
            [
                "242b9e964e848119"
            ]
        ]
    },
    {
        "id": "5d571b1931eb3ad4",
        "type": "catch",
        "z": "01b9b3c76ac3fd00",
        "name": "Database",
        "scope": [
            "4879b66c491e5a9d",
            "7580f4542a5000fc"
        ],
        "uncaught": false,
        "x": 100,
        "y": 700,
        "wires": [
            [
                "09b826736e02fa93"
            ]
        ]
    },
    {
        "id": "09b826736e02fa93",
        "type": "debug",
        "z": "01b9b3c76ac3fd00",
        "name": "DataERR",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 700,
        "wires": []
    },
    {
        "id": "16f9a7b64b529564",
        "type": "subflow:c2ac8926d8a0d889",
        "z": "01b9b3c76ac3fd00",
        "name": "",
        "x": 1000,
        "y": 260,
        "wires": [
            [
                "b21c63fa55eeed73",
                "0563d9a44551f13c"
            ]
        ]
    },
    {
        "id": "375fb02ef3abee8a",
        "type": "inject",
        "z": "14a6853c88df1d6d",
        "name": "CREATE",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 280,
        "wires": [
            [
                "b4a140cb0211a612"
            ]
        ]
    },
    {
        "id": "540e472d043c14de",
        "type": "debug",
        "z": "14a6853c88df1d6d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 890,
        "y": 280,
        "wires": []
    },
    {
        "id": "11ee0ee997419396",
        "type": "inject",
        "z": "14a6853c88df1d6d",
        "name": "INSERT",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 340,
        "wires": [
            [
                "8fbeec269a77944b"
            ]
        ]
    },
    {
        "id": "8fbeec269a77944b",
        "type": "function",
        "z": "14a6853c88df1d6d",
        "name": "INSERT",
        "func": "if (Math.random() < 0.5) { var room = 503;}else{ room = 602; }\nif (Math.random() < 0.5) { var id = 9909;}else{ id = 1893; }\n\nvar topic = \"INSERT INTO `test`.`access` (`room`, `id`) VALUES ('\";\ntopic = topic + room +\"', '\";\ntopic = topic + id + \"');\";\n\nmsg.topic = topic;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 340,
        "wires": [
            [
                "863dbf0d77a84299"
            ]
        ]
    },
    {
        "id": "7b810a45030c308e",
        "type": "debug",
        "z": "14a6853c88df1d6d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 890,
        "y": 340,
        "wires": []
    },
    {
        "id": "3c184795eb316d86",
        "type": "inject",
        "z": "14a6853c88df1d6d",
        "name": "DELETE ",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 400,
        "wires": [
            [
                "4ea9212401b86a24"
            ]
        ]
    },
    {
        "id": "9b84326daa88cbe0",
        "type": "debug",
        "z": "14a6853c88df1d6d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 890,
        "y": 400,
        "wires": []
    },
    {
        "id": "5115e4b7aaf727b9",
        "type": "inject",
        "z": "14a6853c88df1d6d",
        "name": "UPDATE",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 460,
        "wires": [
            [
                "0378f103d3cda655"
            ]
        ]
    },
    {
        "id": "e56ae79afe466d6d",
        "type": "debug",
        "z": "14a6853c88df1d6d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 890,
        "y": 460,
        "wires": []
    },
    {
        "id": "3981efc4fe9a7db0",
        "type": "inject",
        "z": "14a6853c88df1d6d",
        "name": "COUNT",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 350,
        "y": 520,
        "wires": [
            [
                "bf935d66ec92626e"
            ]
        ]
    },
    {
        "id": "faf9ce3655fa1e56",
        "type": "comment",
        "z": "14a6853c88df1d6d",
        "name": "MariaDB",
        "info": "https://mariadb.org/\n\n//SELECT COUNT(*) FROM RANDOMNUM\n//SELECT COUNT(*) FROM `test`\n// UPDATE RANDOMNUM SET BOOL = 1 WHERE VALUE > 20 AND BOOL = 0\n\n//UPDATE `test`.`access` SET `room`='602' LIMIT 1;\n\n//DELETE FROM RANDOMNUM WHERE TIMESTAMP <= strftime('%s','now', '-30 seconds')*1000\n\n//DELETE FROM `test`.`access` WHERE  `no`=3 AND `time`='2021-06-07 17:37:03' AND `room`=503 AND `id`=1893 LIMIT 1;\n",
        "x": 340,
        "y": 160,
        "wires": []
    },
    {
        "id": "b4a140cb0211a612",
        "type": "function",
        "z": "14a6853c88df1d6d",
        "name": "TABLE",
        "func": "topic = \"CREATE TABLE `access` ( \";\ntopic = topic + \"`no` INT NULL AUTO_INCREMENT,\";\ntopic = topic + \"`date` TIMESTAMP NOT NULL,\";\ntopic = topic + \"`room` INT NULL,\";\ntopic = topic + \"`id` INT NULL,\";\ntopic = topic + \"INDEX `no` (`no`)) COLLATE='latin1_swedish_ci';\";\nmsg.topic = topic;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 280,
        "wires": [
            [
                "016ff94b9cdb37b8"
            ]
        ]
    },
    {
        "id": "305a87655d93b1ea",
        "type": "inject",
        "z": "14a6853c88df1d6d",
        "name": "CREATE",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 220,
        "wires": [
            [
                "1ea5a1260830ac8c"
            ]
        ]
    },
    {
        "id": "c779952c7b5c1c5e",
        "type": "debug",
        "z": "14a6853c88df1d6d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 890,
        "y": 220,
        "wires": []
    },
    {
        "id": "1ea5a1260830ac8c",
        "type": "function",
        "z": "14a6853c88df1d6d",
        "name": "DATABASE",
        "func": "var newMsg = {\n\"topic\" : \"CREATE DATABASE `test`;\"\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 550,
        "y": 220,
        "wires": [
            [
                "ceb81c17da6a8448"
            ]
        ]
    },
    {
        "id": "4ea9212401b86a24",
        "type": "function",
        "z": "14a6853c88df1d6d",
        "name": "DELETE ",
        "func": "var newMsg = {\n\"topic\" : \"DELETE FROM `test`.`access` ORDER BY no DESC LIMIT 1\"\n}\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 400,
        "wires": [
            [
                "0fba9d9992ee9fb8"
            ]
        ]
    },
    {
        "id": "0378f103d3cda655",
        "type": "function",
        "z": "14a6853c88df1d6d",
        "name": "UPDATE",
        "func": "var newMsg = {\n\"topic\" : \"UPDATE `test`.`access` SET `room`='602' ORDER BY date DESC LIMIT 1;\"\n}\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 540,
        "y": 460,
        "wires": [
            [
                "0cacb792a2777771"
            ]
        ]
    },
    {
        "id": "bf935d66ec92626e",
        "type": "function",
        "z": "14a6853c88df1d6d",
        "name": "COUNT",
        "func": "var newMsg = {\n\"topic\" : \"SELECT COUNT(*) FROM `test`.`access`;\"\n}\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 520,
        "wires": [
            [
                "919d98469032a0f3"
            ]
        ]
    },
    {
        "id": "12d355699903ec25",
        "type": "debug",
        "z": "14a6853c88df1d6d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload[0]",
        "targetType": "msg",
        "x": 900,
        "y": 520,
        "wires": []
    },
    {
        "id": "863dbf0d77a84299",
        "type": "mysql",
        "z": "14a6853c88df1d6d",
        "mydb": "2236dfd1.c909e",
        "name": "",
        "x": 710,
        "y": 340,
        "wires": [
            [
                "7b810a45030c308e"
            ]
        ]
    },
    {
        "id": "016ff94b9cdb37b8",
        "type": "mysql",
        "z": "14a6853c88df1d6d",
        "mydb": "2236dfd1.c909e",
        "name": "",
        "x": 710,
        "y": 280,
        "wires": [
            [
                "540e472d043c14de"
            ]
        ]
    },
    {
        "id": "ceb81c17da6a8448",
        "type": "mysql",
        "z": "14a6853c88df1d6d",
        "mydb": "2236dfd1.c909e",
        "name": "",
        "x": 710,
        "y": 220,
        "wires": [
            [
                "c779952c7b5c1c5e"
            ]
        ]
    },
    {
        "id": "0fba9d9992ee9fb8",
        "type": "mysql",
        "z": "14a6853c88df1d6d",
        "mydb": "2236dfd1.c909e",
        "name": "",
        "x": 710,
        "y": 400,
        "wires": [
            [
                "9b84326daa88cbe0"
            ]
        ]
    },
    {
        "id": "0cacb792a2777771",
        "type": "mysql",
        "z": "14a6853c88df1d6d",
        "mydb": "2236dfd1.c909e",
        "name": "",
        "x": 710,
        "y": 460,
        "wires": [
            [
                "e56ae79afe466d6d"
            ]
        ]
    },
    {
        "id": "919d98469032a0f3",
        "type": "mysql",
        "z": "14a6853c88df1d6d",
        "mydb": "2236dfd1.c909e",
        "name": "",
        "x": 710,
        "y": 520,
        "wires": [
            [
                "12d355699903ec25"
            ]
        ]
    }
]